[Unit]
Description=Logstash {{ logstash_version }}
After=syslog.target network.target

[Service]
Type=simple
User={{ logstash_user }}
Group={{ logstash_group }}
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.
EnvironmentFile=-/etc/default/logstash
EnvironmentFile=-/etc/sysconfig/logstash
Restart=always
WorkingDirectory=/
Nice=19
LimitNOFILE=16384
ExecStart={{ logstash_install_dir }}/bin/logstash --path.settings /etc/logstash {% if logstash_enabled_debug %}--debug --log.level debug{% endif %}


[Install]
WantedBy=multi-user.target


